<%
class Student
  attr_accessor :user_name, :password, :uid, :gid, :gcos_field, :directory, :shell, :first_name, :last_name
  @@count = 0

  def initialize
    @@count += 1
  end

  def getcount
    @@count
  end

  def first_last_from_gcos
    if self.gcos_field == ""
      self.first_name="-no data-"
      self.last_name="-no data-"
    else
      namearray = self.gcos_field.split(/\s+/)
        if namearray.length == 2
          if namearray[1].downcase.scan(/^./)[0][0] < "l"[0]
            self.first_name=namearray[0].ucwords
            self.last_name=namearray[1].ucwords
          else
            self.first_name=namearray[0].alternate_case
            self.last_name=namearray[1].alternate_case
          end

        elsif namearray.length == 3
          if namearray[2].downcase.scan(/^./)[0][0] < "l"[0]
            self.first_name=(namearray[0] + " " + namearray[1]).ucwords
            self.last_name=namearray[2].ucwords
          else
            self.first_name=(namearray[0] + " " + namearray[1]).alternate_case
            self.last_name=namearray[2].alternate_case
          end
        end
    end
  end

end

class String
  def alternate_case
    # alternate upper and lower case characters
    count = 0
    out = ''
    self.scan(/./m) do |b|
        if count == 0
          out << b.upcase && count = 1
        else
          out << b.downcase && count = 0
        end
    end
    out
  end

  def ucwords
    # capitalize all words in a string
    self.gsub(/\b\w/){$&.upcase}
  end
end

plines = File.readlines('passwd')
glines = File.readlines('group')

loginids = (glines.collect { |line| line if line =~ /^c77734/ }).compact!.to_s.split(':')[3].chomp.split(',')
passwds = (plines.collect { |line| line.chomp if loginids.include?("#{line.split(':')[0]}") }).compact
%>

<html>
<head>
<title>Lab 4 by Parker Johnson cs132A</title>
<body>
<table border="1" cellspacing="2">
   <tr>
   <th><a href=?sort_by=number>Number</th>
   <th><a href=?sort_by=user_name>User Name</th>
   <th><a href=?sort_by=password>Password</th>
   <th><a href=?sort_by=uid>Uid</th>
   <th><a href=?sort_by=gid>Gid</th>
   <th><a href=?sort_by=gcos>Gcos Field</th>
   <th><a href=?sort_by=home>Home Directory</th>
   <th><a href=?sort_by=shell>Login Shell</th>
   <th><a href=?sort_by=first_name>First Name</th>
   <th><a href=?sort_by=last_name>Last Name</th>
   </tr>

<%
passwds.each do |passwdentry|
  student = Student.new

  tmparray = passwdentry.split(':')
  student.user_name = tmparray[0]
  student.password = tmparray[1]
  student.uid = tmparray[2]
  student.gid = tmparray[3]
  student.gcos_field = tmparray[4]
  student.directory = tmparray[5]
  student.shell = tmparray[6]
  student.first_last_from_gcos
%>
   <tr>
       <td class=""> <%= student.getcount %> </td>
       <td class=""> <%= student.user_name %> </td>
       <td class=""> <%= student.password %> </td>
       <td class=""> <%= student.uid %> </td>
       <td class=""> <%= student.gid %> </td>
       <td class=""> <%= student.gcos_field %> </td>
       <td class=""> <%= student.directory %> </td>
       <td class=""> <%= student.shell %> </td>
       <td class=""> <%= student.first_name %> </td>
       <td class=""> <%= student.last_name %> </td>
   </tr>
<% end %>
</table>
</body>
</html>
